/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Bebas Neue', serif;
    background-color: #101010;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 



a{
    text-decoration: none;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    background-color: #080808;
    width: 100%;
    padding: 0 2vw;
    color:#e0e0e0;
}


/* Header ends*/


.name{
    display:flex;
    flex-grow: 1;
    font-size: 3em;
    padding: 1vh 0;
}

.headerNav{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 3vw;
}

nav.headerNav a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh 4vw;
    color: #e0e0e0;   
    transition: .3s;
}

nav.headerNav a:first-child{
    background-color: #101010;
}
nav.headerNav a:hover{
    background-color: #101010;
}


/*Header Ends*/


.sectionOne{
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTileBackground{
    margin-top: 4vh;
    display: flex;
    background-image: url("https://i.picsum.photos/id/192/2352/2352.jpg?hmac=jN5UExysObV7_BrOYLdxoDKzm_c_lRM6QkaInKT_1Go");
    background-size: contain;
    height: 533px;
    width: 800px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.205);
    
}

.sectionOne p{
    color: #ffffffe0;
    font-size: 4em;
    text-shadow: 2px 2px #000000; 
    margin: 3vh;
}

.sectionOne a{
    padding: .5vh .4vw;
    color: #e0e0e0;
    text-shadow: 1px 1px black;
    letter-spacing: .1vw;
    word-spacing: .2vw;
    background-color: rgba(8, 8, 8, .5);
    border-radius: 5%;
    transition: .3s;
}

.sectionOne a:hover{
    opacity: 100%;
    background-color: #101010;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.493);
}

/*Section Two*/


.sectionTwo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 12vh;
    
}

.sectionTwo a{
    display: flex;
    padding: .5vh 3vw;
    color: #e0e0e0;
    text-shadow: 1px 1px black;
    letter-spacing: .1vw;
    word-spacing: .2vw;
    background-color: rgba(8, 8, 8, .5);
    border-radius: 5px;
    transition: .3s;

}

.sectionTwo a:hover{
    opacity: 100%;
    background-color: #101010;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.493);
}

.tileBackground{
    display: flex;
    height: 224px;
    margin: 5vh 1vw;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 25%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.205);

}

.tileTitle{
    width: fit-content;
    justify-content: center;
}
.tileBackground:first-child{
    background: url(https://i.picsum.photos/id/1020/4288/2848.jpg?hmac=Jo3ofatg0fee3HGOliAIIkcg4KGXC8UOTO1dm5qIIPc);
    background-size: cover;
    background-position: center center;
    order: 1;
    
}

.tileBackground:nth-child(2){
    background: url(https://i.picsum.photos/id/121/1600/1067.jpg?hmac=QDrnlQAvC_54xDpx2afpzKMbjCZvnRljseYvkK8XPCQ);
    background-size: cover;
    background-position: center center;
    order: 2;
}

.tileBackground:nth-child(3){
    background: url(https://i.picsum.photos/id/1052/4000/2667.jpg?hmac=VG0SPn0166Vw0hWeiJL4uVFbjGRcHnddwL4u0wpqL8Y);
    background-size: cover;
    background-position: center center;
    order: 3;
}

.tileBackground:nth-child(4){
    background: url(https://i.picsum.photos/id/1082/5416/3611.jpg?hmac=GrASx5oGYbTwT4xyJDYkurgXFFfgj37WHvaJNe8Sr1E);
    background-size: cover;
    background-position: center center;
    order: 4;
}

.tileBackground:nth-child(5){
    background: url(https://i.picsum.photos/id/1064/4236/2819.jpg?hmac=YygzDG22SIIGfbbuoV45bKoBIUguEtto0Jw_YdPDGyY);
    background-size: cover;
    background-position: center center;
    order: 5;
}

.tileBackground:last-child{
    background: url(https://i.picsum.photos/id/1077/3000/1995.jpg?hmac=gx_KF_cdQtv7ilOSaN8YEsNKkhcwRQ507UB7qZ4RutI);
    background-size: cover;
    background-position: center center;
    order: 6;
}

/*footer*/


footer{
    display: flex;
    background-color: #080808;
    width: 100%;
    color: white;

}
nav.footerNav a{
    display: flex;
    padding: 1.5vh 4vw;
    color: #e0e0e0;
    transition: .3s;
}

nav.footerNav a:hover{
    background-color: #101010;

}

.socialsNav{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.socialsNav a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh 4vw;
    color: #e0e0e0;   
    transition: .3s;
}

.socialsNav a:hover{
    background-color: #101010;
}

/*  */


/*footer*/


footer{
    display: flex;
    position: relative;
    bottom: 0;
    background-color: #080808;
    width: 100%;
    color: white;
    align-items: flex-end;

}
nav.footerNav a{
    display: flex;
    padding: 1.5vh 4vw;
    color: #e0e0e0;
    transition: .3s;
}

nav.footerNav a:hover{
    background-color: #101010;

}

.socialsNav{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.socialsNav a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh 4vw;
    color: #e0e0e0;   
    transition: .3s;
}

.socialsNav a:hover{
    background-color: #101010;
}


/* Mobile Devices */

@media(max-width: 800px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        position: relative;
    }

    .headerNav{
        display: flex;
        flex-direction: column;
    }

    .sectionOne{
        margin: 0 5vw;
    }

    .tileBackground{
        width: 40%;
    }

}

@media(max-width: 500px){
    
}